# Visual Studio files
.vs/
out/
build/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# Compiled files
*.exe
*.dll
*.pdb
*.ilk
*.obj
*.log

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake
!CMakeLists.txt

# Temporary files
*.tmp
*.temp
.DS_Store
Thumbs.db