* text=auto

# C++ source files
*.cpp text diff=cpp
*.h text diff=cpp
*.c text diff=cpp

# Resource files
*.rc text

# CMake files
CMakeLists.txt text
*.cmake text

# Markdown
*.md text diff=markdown

# YAML files
*.yml text
*.yaml text