#include <windows.h>
#include "resource.h"

IDC_TRAYAPP MENU
BEGIN
POPUP "&File"
BEGIN
MENUITEM "E&xit", ID_FILE_EXIT
END
END

IDD_LOGIN DIALOGEX 0, 0, 300, 150
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Authentication"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
LTEXT           "Username:", -1, 20, 20, 60, 14
EDITTEXT        IDC_USERNAME, 85, 18, 195, 14, ES_AUTOHSCROLL
LTEXT           "Password:", -1, 20, 45, 60, 14
EDITTEXT        IDC_PASSWORD, 85, 43, 195, 14, ES_PASSWORD | ES_AUTOHSCROLL
DEFPUSHBUTTON   "Login", IDC_LOGIN_BTN, 85, 70, 140, 30
END

IDD_ACTIVATION DIALOGEX 0, 0, 320, 180
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Product Activation"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
LTEXT           "Activation Code:", -1, 20, 20, 80, 14
EDITTEXT        IDC_ACTIVATION_CODE, 105, 18, 195, 14, ES_AUTOHSCROLL
LTEXT           "Device MAC:", -1, 20, 45, 80, 14
EDITTEXT        IDC_DEVICE_MAC, 105, 43, 195, 14, ES_AUTOHSCROLL
DEFPUSHBUTTON   "Activate", IDC_ACTIVATE_BTN, 85, 70, 150, 30
END